.App {
  color: #1C2024;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 26px 26px 0 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  background: white;
  min-height: 580px;
  border-radius: 10px;
}

.App h1 {
  margin: 0.5rem 0 1.5rem 0;
}

footer {
  margin: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  color: white;
}

footer a {
  color: white;
}

.home {
  text-align: left;
  max-width: 400px;
  padding: 20px;
}

.home a {
  text-decoration: none;
  color:white;
  font-family: 'Poppins', sans-serif;
  border: 1px solid white;
  padding: 0.1em 0.3em;
  border-radius: 0.2em
}

.home a:hover {
  border: 1px solid #1C2024;;
}

a:hover {
  color: #1C2024;
}