.App {
  color: #1C2024;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 26px 26px 0 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  background: white;
  min-height: 580px;
}

.App h1 {
  margin: 0 0 1rem 0;
}

footer {
  margin: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  color: white;
}

.home {
  display: block;
  margin: 0 auto;
  text-align: left;
  max-width: 400px;
  padding-top: 1rem;
}
.home a {
  text-decoration: none;
  color:white;
  font-family: 'Poppins', sans-serif;
}

footer a {
  color: white;
}

a:hover {
  color: #1C2024;
}