.App {
  color: rgb(53, 53, 53);
  margin: 0 auto;
  margin-top: 40px;
  max-width: 400px;
  width: 100%;
  padding: 26px 26px 0 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  background: white;
  min-height: 580px;
}

.App h1 {
  margin: 0 0 1rem 0;
}

footer {
  margin: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #1C2024;
}
